
@using DMX.Models;  
@using DMX.ViewComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Web
@using Microsoft.AspNetCore.DataProtection
@using OSPPOS.Models
@using OSPPOS.ViewComponents
@inject UserManager<AppUser> usm;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<OSPPOS.ViewModels.ViewInvoicesVM>;
@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider

@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
  
}
<div class="tab-content tab-content-dim" id="divInvoiceContent">
    <!-- TAB 1: USERS -->
    <div class="tab-pane fade show active tab-pane-dim" id="invoices" role="tabpanel">
        <div class="tab-card">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h6 class="fw-semibold mb-0"><i class="bi bi-tags me-2"></i>Invoices</h6>
                <button class="btn btn-primary btn-sm" id="openInvoiceFormBtn" onclick="document.getElementById('AddInvoiceDialog').showModal()">
                    <i class="bi bi-plus-circle me-1"></i>Add Invoice
                </button>
            </div>
            <!-- DATATABLES -->
            <div class="table-container">
            <table class="table darkTable" id="invoicesTable">
                <thead>
                    <tr>
                    <th>SN</th>
                    <th>SKU</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Unit</th>
                    <th class="text-end">Cost</th>
                    <th class="text-end">Sell Price</th>
                    <th class="text-end">Wholesale</th>
                    <th class="text-end">Margin</th>
                    <th class="text-center">Reorder</th>
                    <th class="text-center">Stock</th>
               
                     
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  
  @foreach (var i in Model)
                {
                            <tr>
                              
                        <td>@i.InvoiceDate</td>
                        <td class="text-muted small">@i.InvoiceNumber</td>
                        <td class="ellipsed-text">
                          
                       @i.Customer
                        </td>
                        <td>
            
                        </td>
                        <td class="small"></td>
                        <td class="text-end">@i.AmountPaid.ToString("N2")</td>
                        <td class="text-end fw-semibold">@i.AmountDue.ToString("N2")</td>
                        <td class="text-end">@i.DiscountAmount.ToString("N2")</td>
                        <td class="text-end">
                       
                        </td>
                        <td class="text-center small"></td>
                        <td class="text-center">
                                       </td>
                           <td>

                             @*    <div class="dropdown action-dropdown" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>

                                   <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if(p.CanEdit)
                                    {

                                        <button  onclick="openDialogFromData(this)" data-url="EditProduct" data-user-id="@protector.Protect(p.PublicId.ToString())" data-dialog-id="EditProductDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3 text-warning"></i>Edit</button>
                                        }

                                    

                                       @if(p.CanPrint)
                                       {

                                        <button type="button" class="dropdown-item-custom" onclick="printMemoIframe('@protector.Protect(p.PublicId.ToString())')">
                                            <i style="width:15px; height:15px" class="fa fa-print mr-3 text-primary"></i>Print
                                        </button>
                                       }
 
                                             
                                                <button type="button" onclick="de" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3 text-danger"></i>Delete</button>
                                          
                                  </div> 
                        </div> *@
                                    <div class="dropdown action-dropdown">
                                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                            Select Action
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-eye text-info"></i> View</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-trash"></i> Delete</a></li>
                                        </ul>
                                    </div>
                        </td>
                    </tr>
             }
                </tbody>
            </table>
       </div>
    

    
    <div class="card-footer rounded-bottom-5 border-0 text-muted small">
        <span>@Model.Count().ToString() product(s) &nbsp;|&nbsp;</span>
    @*     Stock cost value: <strong>GHS @Model.Sum(p => p.CurrentStock * p.CostPrice).ToString("N2")</strong> &nbsp;|&nbsp;
        Retail value: <strong>GHS @Model.Sum(p => p.CurrentStock * p.SellingPrice).ToString("N2")</strong> *@
            </div>
</div>
</div>
</div>

<iframe id="printFrame" style="display:none;"></iframe>
@section scripts{
<script type="text/javascript">
    function printMemoIframe(memoId) {
        const printFrame = document.getElementById('printFrame');
        printFrame.src = `/Memo/PrintMemo?Id=${memoId}`;
        printFrame.onload = function () {
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
        };
    }
      document.addEventListener("DOMContentLoaded", (function() {
          $('#invoicesTable').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            order: [[4, 'desc']],
            columnDefs: [
              { orderable: false, targets: 5 }
            ],
            language: {
              search: "Search:",
              lengthMenu: "Show _MENU_ invoices",
              info: "Showing _START_ to _END_ of _TOTAL_ invoices",
              infoEmpty: "No invoice found",
              infoFiltered: "(filtered from _MAX_ total invoices)",
              zeroRecords: "No invoice found"
            },
             dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' +
               '<"row"<"col-sm-12"tr>>' +
                  '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>'
          })}))

</script>
}
 @await Component.InvokeAsync(nameof(AddInvoice))
<dialog id="EditMemoDialog"><div id="EditMemoDialogContent"></div></dialog>





