
@model DMX.ViewModels.AddPettyCashVM;


<dialog class=" border-0 rounded p-0 col-md-4" id="AddPettyCashDialog">
   
            <div class="modal-header">

                <h6 class="fw-bold">Add Petty Cash</h6>
                <button type="button" aria-label="Close" class="btn btn-sm btn-outline-danger" onclick="document.getElementById('AddPettyCashDialog').close()">Close</button>
            </div> 
            @using (Html.BeginForm("AddPettyCash", "PettyCash", FormMethod.Post, new{id="addPettyCashForm"}))
            {
            <div class="modal-body">


            <div class="input-group">
                <div class="input-group-text">
                    <i class="fas fa-money-check"></i>
                </div>
                <div class="did-floating-label-content">
                        <input class="did-floating-input" type="number" step="0.0001" asp-for="@Model.Amount"  max="@Model.Maximum" required />
                        <label class="did-floating-label" >Amount</label>
                    
                    </div>
                    </div>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="fas fa-ideal"></i>
                </div>
                <div class="did-floating-label-content">
                            <input class="did-floating-input" type="text" asp-for="@Model.Purpose"   placeholder="" required/>
                            <label class="did-floating-label" >Purpose</label>
                          
                        </div>
            </div>
                        <select id="selectPettyCashUser" class="dmx-choices"   asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"><option value="">Select User(s)</option></select>
                        
                      </div>
            <div class="modal-footer">

                        <button id="btnAddPettyCash" class="btn btn-block btn-primary">Save</button>       
         
        </div>
    }
</dialog>




