
@using DMX.ViewComponents
@using System.Web
@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection

@model IEnumerable<DMX.ViewModels.ViewRolePermissionsVM>
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}


<div class="card shadow mb-4 rounded-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Role Permissions</h6>

       

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables_wrapper" id="dtRolePermissions">
                        <thead>
                            <tr>

                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Permission(s)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var perm in Model)
                            {
                                <tr>
                                    <td>@perm.RoleId</td>
                                    <td>@perm.RoleName</td>
                            
                            
                                <td>
                                     @foreach(var code in @perm.SelectedPermissions.ToList())
                                {
                                    var action = code.Split('.').Last();
                                    var badgeClass = action switch
                                    {
                                        "View" => "bg-primary",
                                        "Create" => "bg-success",
                                        "Add" => "bg-success",
                                        "Edit" => "bg-warning text-dark",
                                        "Update" => "bg-warning text-dark",
                                        "Delete" => "bg-danger",
                                        "Remove" => "bg-danger",
                                        "Approve" => "bg-info",
                                        "Publish" => "bg-secondary",
                                        "Download"=>"bg-primary",
                                        _ => "bg-dark"
                                    };

                                  <span class="badge @badgeClass me-1">@code.ToString()</span>
                                } 
                            </td>
                            
                                    <td>
                              
                                       
                                        <button type="button" onclick="openDialogFromData(this)" data-url="ManageRolePermissions" data-user-id="@protector.Protect(perm.RoleId)" data-dialog-id="ManageRolePermissionsDialog" class="btn btn-sm btn-outline-primary">Configure</button>


                                      
                                     



                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            
        </div>
    </div>
    <div class="card-footer"></div>
    </div>
    <dialog id="ManageRolePermissionsDialog" class="border-0 p-0 rounded col-md-4"><div id="ManageRolePermissionsDialogContent">

        </div>
  
</dialog>