

@using OSPPOS.ViewComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Web
@using Microsoft.AspNetCore.DataProtection
@using OSPPOS.Models
@using OSPPOS.ViewModels
@inject UserManager<AppUser> usm;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<OSPPOS.ViewModels.ViewCustomersVM>;
@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider

@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
  
}
<div class="card table-responsive rounded-5 shadow mb-4">
    <div class="card-header py-3"><i class="fas fa-fw fa-users"></i>
        <h6 class="m-0 font-weight-bold d-inline">Customers</h6>
        
          
        <button id="btnAddCustomer" class="btn btn-sm rounded-5  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddCustomerDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add Customer</button>
        </div>
        <div class="card-body">
         
            <table class="table table-responsive dataTables_wrapper">
                <thead>
                    <tr><th>SN</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Tax Number</th>
                        <th>IsActive</th>
                    <th>Allow Credit</th>
                    <th>Credit Limit</th>
                    <th>Sales Order</th>
                    <th>Payments</th>
            <th>Total Debt</th>
                  
                   
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                      @foreach (var customer in Model)
                {
                    <tr>
                        <td></td>
<td>@customer.Name</td>
                        <td class="ellipsed-text"> @customer.Phone</td>
                        
                            <td class="ellipsed-text">@customer.Email</td>
                        <td class ="ellipsed-text">
                            @customer.Address</td>
                        <td>@customer.TaxNumber</td>
                        <td>@customer.IsActive</td>
                        <td>@customer.AllowCredit</td>
                        <td>@customer.CreditLimit</td>
                        <td>@foreach (var order in @customer.SaleOrders.ToList())
                            {
                                <ul>
                                    <li>
                                        @order.ToString()
                                    </li>
                                </ul>
                            }
                        </td>
                        <td>
                            @foreach (var order in @customer.Payments.ToList())
                            {
                                <ul>
                                    <li>
                                        @order.ToString()
                                    </li>
                                </ul>
                            }
                        </td>
                        <td>@customer.TotalDebt</td>
                       
                        <td>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if(customer.CanEdit)
                                    {

                                        <button  onclick="openDialogFromData(this)" data-url="EditCustomer" data-user-id="@protector.Protect(customer.PublicId.ToString())" data-dialog-id="EditCustomerDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3 text-warning"></i>Edit</button>
                                        }

                                    

                                       @if(customer.CanPrint)
                                       {

                                        <button type="button" class="dropdown-item-custom" onclick="printcustomerIframe('@protector.Protect(customer.PublicId.ToString())')">
                                            <i style="width:15px; height:15px" class="fa fa-print mr-3 text-primary"></i>Print
                                        </button>
                                       }
 
                                             
                                                <button type="button" onclick="de" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3 text-danger"></i>Delete</button>
                                          
                                  </div>
                        </div>

                        </td>
                    </tr>
             }
                </tbody>
         

        </table>
       </div>
      

    <div class="card-footer">
    </div>
</div>

<iframe id="printFrame" style="display:none;"></iframe>

<script type="text/javascript">
    function printcustomerIframe(customerId) {
        const printFrame = document.getElementById('printFrame');
        printFrame.src = `/customer/Printcustomer?Id=${customerId}`;
        printFrame.onload = function () {
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
        };
    }

</script>


@await Component.InvokeAsync(nameof(AddCustomer))
<dialog id="EditCustomerDialog"><div id="EditCustomerDialogContent"></div></dialog>
