
@model DMX.ViewModels.EditTravelRequestVM;

<div class="modal fade" id="EditTravelRequest" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Edit Travel Request</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            @using (Html.BeginForm("EditTravelRequest", "TravelRequest", FormMethod.Post, new { id = "editTravelRequestForm" }))
            {
            <div class="modal-body">


                <div class="floating-group">
                    <select id="selectTravelType1" type="select" asp-for="@Model.TravelTypeId" asp-items="@Model.TravelTypes" class="did-floating-select" placeholder=""></select>
                    <label >Select Travel Type</label>
                </div>
                <div class="floating-group">
                    <input type="text" asp-for="@Model.Purpose"  placeholder="" required />
                    <label >Purpose</label>
                </div>

                @foreach (var mode in Model.TransportModes)
                {
                    <label class=" btn btn-sm btn-outline-primary">
                        <input type="radio" asp-for="@Model.TransportModeId" class="option-input radio" value="@mode.Value" id="Mode@(mode)" />
                        @mode.Text
                    </label>
                }


                <div class="row">
                    <div class="col">
                        <div class="floating-group">


                            <input type="date" asp-for="@Model.StartDate"  asp-format="{0:dd/MMM/yyyy}" required />
                            <label >Start Date</label>

                        </div>
                    </div>
                    <div class="col">

                        <div class="floating-group">


                            <input type="date" asp-for="@Model.EndDate"  asp-format="{0:dd/MMM/yyyy}" required />
                            <label >End Date</label>

                        </div>
                    </div>
                

                </div>



                <div class="row">
                    <div class="col">
                        <div class="floating-group">


                            <input type="number" step="0.0001" asp-for="@Model.ConferenceFee"  required />
                            <label >Seminar/Conference Fees</label>

                        </div>
                    </div>
                    <div class="col">

                        <div class="floating-group">


                            <input type="number" step="0.0001" asp-for="@Model.FuelClaim"  required />
                            <label >Fuel Claim</label>

                        </div>
                    </div>
                    <div class="col">
                        <div class="floating-group">
                            <input type="number" step="0.0001" asp-for="@Model.OtherExpenses"  required />
                            <label >Other Expenses</label>

                        </div>
                    </div>

                </div>



                <div class="floating-group">

                    <input  asp-for="@Model.AdditionalNotes" type="text" placeholder="" required />
                    <label >AdditionalNotes</label>
                </div>

                <div class="floating-group">
                     <select id="selectUserTravelRequest" class="did-floating-select" type="select" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                    <label >Select Approver(s)</label>
                </div>


                <button id="btnEditTravelRequest" class="btn btn-block btn-primary">Update</button>


            </div>

            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
     const addTravelRequestFormSelector = '#addTravelRequestForm';
        $('#selectUserTravelRequest').select2({ dropdownParent: $('#EditTravelRequest') });
        $('#selectTravelType1').select2({ dropdownParent: $('#EditTravelRequest') });
          $('#selectTravelType2').select2({ dropdownParent: $('#EditTravelRequest') });
        $('#selectDept').select2({ dropdownParent: $('#EditTravelRequest') });
         document.getElementById("btnEditTravelRequest").addEventListener("click", function (event) {
            event.preventDefault();

            const form = document.querySelector(addTravelRequestFormSelector);
                 if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            // Validate fields

            // Show error if invalid


            // Confirm save
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to save this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });

</script>



