

@model IEnumerable<DMX.ViewModels.ViewPerDiemsVM>


@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Types</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-open="perdiemPanel" data-bs-toggle="ajax-modal" data-bs-target="#AddPerDiem" data-bs-url="@Url.Action("AddPerDiem")"><i class="fa fa-fw fa-plus-circle"></i>Add Perdiem</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables_wrapper" id="tbPerDiem">

                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>

                        <th>Department</th>
                        <th>Rank</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var type in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@type.Staff</td>

                            <td>@type.Department</td>
                            <td>@type.Rank</td>
                            <td>@type.Amount</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditPerDiem",new{Id=@protector.Protect(type.Id)})" class="dropdown-item-custom" data-bs-target="#EditPerDiem"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        <button class="dropdown-item-custom" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditService", new { Id = @protector.Protect(type.Id) })" data-bs-target="#DetailMemo"><i style="width:15px;height:15px" class="fa fa-info mr-3"></i>Detail</button>
                                        <a class="dropdown-item-custom" asp-action="PrintProfile" asp-controller="Client" asp-route-Id="@protector.Protect(type.Id)"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</a>
                                        <button type="button" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("ClientProfile")" class="dropdown-item-custom" data-bs-target="#ClientProfile"><i style="width:15px; height:15px" class="fa fa-comments mr-3"></i>Comment</button>
                                        <form asp-action="DeleteClient" asp-route-Id="" onsubmit="return jQueryAjaxDelete(this);">
                                            <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                        </form>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>
