
@using DMX.Models;  
@using DMX.ViewComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Web
@using Microsoft.AspNetCore.DataProtection
@inject UserManager<AppUser> usm;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DMX.ViewModels.ViewMemosVM>;
@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider

@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
  
}
<div class="card shadow mb-4">
    <div class="card-header py-3"><i class="fas fa-fw fa-file-alt"></i>
        <h6 class="m-0 font-weight-bold text-primary d-inline">Memos</h6>
        
          
        <button id="btnAddMemo" class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddMemoDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add Memo</button>
        </div>
        <div class="card-body">
         
            <table class="table dataTables_wrapper">
                <thead>
                    <tr><th>SN</th>
                        <th>RefN</th>
                        <th>Title</th>
                        <th>Sender</th>
                        <th>Assignee(s)</th>  
                     
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                      @foreach (var Memo in Model)
                {
                    <tr>
                        <td></td>
<td>@Memo.ReferenceNumber</td>
                        <td class="ellipsed-text"> @Memo.Title</td>
                        
                            <td class="ellipsed-text">@Memo.Sender</td>
                            <td>
@foreach(var assignee in @Memo.Assignees)
{
                        <span class="badge badge-pill badge-dark">@assignee</span>
}
</td>
                           <td>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if(Memo.CanEdit)
                                    {

                                        <button  onclick="openDialogFromData(this)" data-url="EditMemo" data-user-id="@protector.Protect(Memo.PublicId.ToString())" data-dialog-id="EditMemoDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3 text-warning"></i>Edit</button>
                                        }

                                       <button  onclick="openDialogFromData(this)" data-url="CommentMemo" data-user-id="@protector.Protect(Memo.PublicId.ToString())" data-dialog-id="CommentMemoDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-comment mr-3 text-dark"></i>Comment</button>

                                       @if(Memo.CanPrint)
                                       {

                                        <button type="button" class="dropdown-item-custom" onclick="printMemoIframe('@protector.Protect(Memo.PublicId.ToString())')">
                                            <i style="width:15px; height:15px" class="fa fa-print mr-3 text-primary"></i>Print
                                        </button>
                                       }
 
                                             
                                                <button type="button" onclick="de" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3 text-danger"></i>Delete</button>
                                          
                                  </div>
                        </div>

                        </td>
                    </tr>
             }
                </tbody>
            </table>
       </div>
       </div>

    <div class="card-footer">
    </div>


<iframe id="printFrame" style="display:none;"></iframe>

<script type="text/javascript">
    function printMemoIframe(memoId) {
        const printFrame = document.getElementById('printFrame');
        printFrame.src = `/Memo/PrintMemo?Id=${memoId}`;
        printFrame.onload = function () {
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
        };
    }

</script>

@await Component.InvokeAsync(nameof(AddMemo))
<dialog id="EditMemoDialog"><div id="EditMemoDialogContent"></div></dialog>
<dialog id="CommentMemoDialog" class="col-md-6 border-0 rounded p-0"><div id="CommentMemoDialogContent"></div></dialog>