@using Microsoft.AspNetCore.Mvc.Rendering
@model DMX.ViewModels.EditPettyCashVM;

            
<dialog class="modal fade" id="EditPettyCashDialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Edit Petty Cash</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">

                @using(Html.BeginForm("EditPettyCash","PettyCash", FormMethod.Post, new {id="editPettyCashForm"}))
                {
                

               
                <div class="floating-group">
                        <input type="number" step="0.0001" asp-for="@Model.Amount" max="@Model.Maximum"  placeholder="" required />
                    <label >Amount</label>
                </div>
                <div class="floating-group">
                    <input type="text" asp-for="@Model.Purpose"  placeholder="" required />
                    <label >Purpose</label>
                </div>
             
                <div class="floating-group">
                    <select id="selectPettyCashUser" class="did-floating-select" required asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                    <label >Select User(s)</label>
                </div>

                <button id="btnEditPettyCash" type="button" class="btn btn-block btn-primary">Update</button>
                }
                </div>
                </div>
                </div>

                </dialog>
<script>
    $(document).ready(function () {


        $('#selectPettyCashUser').select2({
            dropdownParent: $('#EditPettyCash')
        });
          const formSelector = '#editPettyCashForm';

            const form = document.querySelector(formSelector);
         document.getElementById("btnEditPettyCash").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent immediate submission
                if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to save this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("editPettyCashForm").submit(); // Correct form ID
                }
            });
        });
   
    });
    </script>