
@model DMX.ViewModels.AddExcuseDutyVM;



@* 
<dialog id="AddExcuseDutyDialog" class="border-0 rounded py-0">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Excuse Duty</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


            @using (Html.BeginForm("AddExcuseDuty", "ExcuseDuty", FormMethod.Post, new{id="addExcuseDutyForm"}))
            {

                    <div class="row">
                        <div class="col-md-8">
                    <div class="floating-group">
                        <input type="text" id="txtPatientName"  asp-for="@Model.PatientName" placeholder=""/>

                        <label >Patient Name</label>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="floating-group">
                        <input type="text"  asp-for="@Model.PatientId" placeholder="" required/>

                        <label >Patient Id</label>
                    </div>
                   </div>
                   </div>
                    <div class="floating-group">
                        <input type="text"  asp-for="@Model.Diagnosis"  placeholder="" required/>

                        <label >Diagnosis</label>
                    </div>
                        <div class="floating-group">

                        <input type="date" asp-for="@Model.DateofDischarge"  asp-format="{0:dd/MMM/yyyy}" required/>

                        <label >Date of Discharge</label>

                    </div> 
                    <div class="floating-group">
                        <input type="number"  asp-for="@Model.ExcuseDays" placeholder="" required/>
                        <label >Excuse Days</label>
                    </div>
                  
              <div class="floating-group">
                            <select  id="usersAddExcuseDuty"   class="did-floating-select" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                        <label > Select Users</label>  
                        </div>
                      <div class="form-group">
                        <button id="btnAddExcuseDuty" class="btn btn-block btn-primary">Save</button>
                        </div>
            }
        </div>
    </div>
    </div>
    </dialog>
     <script>
        $(document).ready(function () {
                   const addExcuseDutyForm = '#addExcuseDutyForm';
                   const txtPatientName='#txtPatientName';
            $('#usersAddExcuseDuty').select2({
                dropdownParent: $('#AddExcuseDuty') });
            const form = document.querySelector(addExcuseDutyForm);
         document.getElementById("btnAddExcuseDuty").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent immediate submission
                if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

    if (!txtPatientName===0) {
    Swal.fire('Error', 'Patient name cannot be empty.', 'error');
    return;
    }

            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to save this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("addExcuseDutyForm").submit(); // Correct form ID
                }
            });
        });
    });

</script>  *@


  

<dialog id="AddExcuseDutyDialog" class="border-0 rounded p-0 col-md-4">

            <div class="modal-header">
                <h6 class="fw-bold">Add Excuse Duty</h6>
                <button type="button" aria-label="Close" class="btn btn-sm btn-outline-danger" onclick="document.getElementById('AddExcuseDutyDialog').close()">Close</button>
    </div>  @using (Html.BeginForm("AddExcuseDuty", "ExcuseDuty", FormMethod.Post, new { id = "addExcuseDutyForm" }))
    {
            <div class="modal-body">
                    <div class="row">
                <div class="col-md-8">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-user-doctor"></i>        
                    </div>
                    <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.PatientName"
                               class="did-floating-input"
                                   id="txtPatientName"
                               placeholder=" " />
                            <label class="did-floating-label" for="txtPatientName">Patient Name</label>
                    </div>
                </div>
                </div>
                        <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fas fa-user-check"></i>   
                        </div>
                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.PatientId"
                                   class="did-floating-input"
                                   id="txtPatientId"
                                   placeholder=" " />
                            <label class="did-floating-label" for="txtPatientId">Patient Id</label>
                        </div>
                    </div>
                        </div>
                    </div>
            <div class="input-group">
                <div class="input-group-text">
                <i class="fas fa-diagnoses"></i>
                </div>
                <div class="did-floating-label-content">
                <input type="text" class="did-floating-input" asp-for="@Model.Diagnosis" placeholder="" required />
                    <label class="did-floating-label">Diagnosis</label>
                    </div>
                    </div>
                    <div class="input-group">
                <div class="input-group-text">
                    <i class="fas fa-calendar"></i>
                </div>      
                <div class="did-floating-label-content">
                        <input class="did-floating-input" type="date" asp-for="@Model.DateofDischarge"  required name="dtDateofDischarge" />
                        <label class="did-floating-label" for="dtDateofDischarge">Date of Discharge</label>
                       </div>
                    </div>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="fas fa-calendar-day"></i>
                </div>
                <div class="did-floating-label-content">
                        <input class="did-floating-input" type="number"  asp-for="@Model.ExcuseDays" placeholder="" required />
                        <label class="did-floating-label" >Excuse Days</label>
                     
                    </div>
                    </div>
           
             
                        <select id="usersAddExcuseDuty" class="dmx-choices" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"><option value="">Select User(s)</option></select>
                   
                    </div>
                    <div class="modal-footer">
                        <button id="btnAddExcuseDuty" class="btn btn-primary btn-block">Save</button>
                    </div>
                }
</dialog>



