
@using DMX.Models;  
@using DMX.ViewComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Web
@using Microsoft.AspNetCore.DataProtection
@using OSPPOS.Models
@using OSPPOS.ViewComponents
@inject UserManager<AppUser> usm;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<OSPPOS.ViewModels.ViewSuppliersVM>;
@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider

@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
  
}
<div class="tab-content tab-content-dim" id="myTabContent">
    <!-- TAB 1: USERS -->
    <div class="tab-pane fade show active tab-pane-dim" id="users" role="tabpanel">
        <div class="tab-card">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h6 class="fw-semibold mb-0"><i class="bi bi-truck me-2"></i>Suppliers</h6>
                <button class="btn btn-primary btn-sm" id="openFormBtn2" onclick="document.getElementById('AddSupplierDialog').showModal()">
                    <i class="bi bi-plus-circle me-1"></i>Add Stock
                </button>
            </div>
            <!-- DATATABLES -->
            <div class="table-container">
         
           <table class="table darkTable">
                <thead>
                    <tr><th>SN</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>  
                     
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var Supplier in Model.ToList())
                {
                    <tr>
                        <td></td>
                        <td>@Supplier.Name</td>
                        <td>@Supplier.Phone</td>
                        <td class="ellipsed-text">@Supplier.Email</td>
                        
                            <td class="ellipsed-text">@Supplier.Address</td>
                            <td>
                                    <div class="dropdown action-dropdown">
                                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                            Select Action
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (Supplier.CanEdit)
                                            {
                                                <li onclick="openDialogFromData(this)" data-url="EditSupplier" data-user-id="@protector.Protect(Supplier.PublicId.ToString())" data-dialog-id="EditSupplierDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3 text-warning"></i>Edit</li>
                                            }
                                            @if (Supplier.CanPrint)
                                            {

                                                <li type="button" class="dropdown-item-custom" onclick="printMemoIframe('@protector.Protect(Supplier.PublicId.ToString())')">
                                                    <i style="width:15px; height:15px" class="fa fa-print mr-3 text-primary"></i>Print
                                                </li>
                                            }

                                            <li type="button" onclick="de" class="dropdown-item"><i style="width:15px; height:15px" class="fa fa-trash mr-3 text-danger"></i>Delete</li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-eye text-info"></i> View</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item text-danger" href="#"><i class="bi bi-trash"></i> Delete</a></li>
                                        </ul>
                                    </div>
                        </td>
                    </tr>
             }
                </tbody>
            </table> 
       </div>
 

    <div class="card-footer">
    </div>
    </div>
    </div>
    </div>
    
<iframe id="printFrame" style="display:none;"></iframe>

<script type="text/javascript">
    function printMemoIframe(memoId) {
        const printFrame = document.getElementById('printFrame');
        printFrame.src = `/Memo/PrintMemo?Id=${memoId}`;
        printFrame.onload = function () {
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
        };
    }

</script>

@await Component.InvokeAsync(nameof(AddSupplier))
<dialog id="EditSupplierDialog"><div id="EditSupplierDialogContent"></div></dialog>