
@using DMX.Models;  
@using DMX.ViewComponents
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Web
@using Microsoft.AspNetCore.DataProtection
@using OSPPOS.Models
@using OSPPOS.ViewComponents
@inject UserManager<AppUser> usm;
@{
    Layout = "~/Views/Shared/deepseek_html_20260627_94ce72.cshtml";
}
@model IEnumerable<OSPPOS.ViewModels.ViewSuppliersVM>;
@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider

@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
  
}
<div class="card rounded-5 table-responsive shadow mb-4">
    <div class="card-header py-3"><i class="fas fa-fw fa-truck"></i>
        <h6 class="m-0 font-weight-bold text-primary d-inline">Suppliers</h6>
        
          
        <button id="btnAddSupplier" class="btn btn-sm btn-rounded rounded-5 btn-outline-primary fa-pull-right" onclick="document.getElementById('AddSupplierDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add Supplier</button>
        </div>
        <div class="card-body">
         
           <table class="table dataTables_wrapper">
                <thead>
                    <tr><th>SN</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>  
                     
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var Supplier in Model.ToList())
                {
                    <tr>
                        <td></td>
                        <td>@Supplier.Name</td>
                        <td>@Supplier.Phone</td>
                        <td class="ellipsed-text">@Supplier.Email</td>
                        
                            <td class="ellipsed-text">@Supplier.Address</td>
                            <td>

                           

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    @if(Supplier.CanEdit)
                                    {

                                        <button  onclick="openDialogFromData(this)" data-url="EditSupplier" data-user-id="@protector.Protect(Supplier.PublicId.ToString())" data-dialog-id="EditSupplierDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3 text-warning"></i>Edit</button>
                                        }

                                       

                                       @if(Supplier.CanPrint)
                                       {

                                        <button type="button" class="dropdown-item-custom" onclick="printMemoIframe('@protector.Protect(Supplier.PublicId.ToString())')">
                                            <i style="width:15px; height:15px" class="fa fa-print mr-3 text-primary"></i>Print
                                        </button>
                                       }
        
                                                <button type="button" onclick="de" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3 text-danger"></i>Delete</button>
                                          
                                  </div>
                        </div>

                        </td>
                    </tr>
             }
                </tbody>
            </table> 
       </div>
 

    <div class="card-footer">
    </div>
    </div>

<iframe id="printFrame" style="display:none;"></iframe>

<script type="text/javascript">
    function printMemoIframe(memoId) {
        const printFrame = document.getElementById('printFrame');
        printFrame.src = `/Memo/PrintMemo?Id=${memoId}`;
        printFrame.onload = function () {
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
        };
    }

</script>

@await Component.InvokeAsync(nameof(AddSupplier))
<dialog id="EditSupplierDialog"><div id="EditSupplierDialogContent"></div></dialog>