
@model DMX.ViewModels.EditDeceasedVM;

<div class="modal fade" id="EditDeceased" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Edit Deceased</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


                        @using (Html.BeginForm("EditDeceased", "Deceased", FormMethod.Post, new {id="editDeceasedForm" } ))
                        {
                            
                           
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Deceased"  placeholder="" required/>
                        <label >Deceased</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="floating-group">
                                <input type="text" asp-for="@Model.FolderNo"  placeholder="" required/>
                                <label >Folder No</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="floating-group">
                                <input type="text" asp-for="@Model.TagNo"  placeholder="" required/>
                                <label >Tag No</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-group-sm">
                         @foreach(var dead in Model.DeceasedTypes )
                         {
                               
                                <label class=" btn btn-sm btn-outline-primary">

                                    <input type="radio" asp-for="@Model.DeceasedTypeId"  class="option-input radio" value="@dead.Value" id="Dead@(dead)"  required="required"/>
                                    @dead.Text
                                </label>

                         }
                  
                            </div>

                        </div>

                    </div>
                  
                        <div class="floating-group">
                        <input class="did-floating-input vh-15" asp-for="@Model.Diagnoses" placeholder="" required/>
                            <label >Final Diagnoses</label>
                 
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.WardInCharge"  placeholder="" required />
                        <label >In-Charge</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Depositor"  placeholder="" required>
                        <label >Depositor</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.DepositorAddress"  placeholder="" required>
                        <label >Depositor Address</label>
                    </div>

                    
                    <div class="floating-group">
                        <input type="text"  asp-for="@Model.Description"  placeholder="" />
                  
                        <label >Additional Information</label>
                    </div>
                        
                        <div class="floating-group">
                        <select id="selectDeceasedUser"  class="did-floating-select" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                        <label >Select Users</label>
                    </div>
             


                          

                            <button id="btnEditDeceased" type="button" class="btn btn-block btn-primary">Save</button>

                        }
                    </div>
                            </div>
                        </div>
                        </div>
   <script>
        $(document).ready(function ()
        {
       const editDeceasedFormSelector = "#editDeceasedForm";
        $('#selectDeceasedUser').select2({ dropdownParent: $('#EditDeceased') });
   
         document.getElementById("btnEditDeceased").addEventListener("click", function (event) {
            event.preventDefault();

            const form = document.querySelector(editDeceasedFormSelector);
                 if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            // Validate fields

            // Show error if invalid
            // Confirm save
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to update this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) 
                {
                    form.submit()
                }     
            });
              
        });
        
    });
                

</script>

                     