
@model DMX.ViewModels.AddFeeStructureVM

<div class="slide-panel" data-panel="feePanel" id="feePanel">
    <div class="card">

        
            <div class="card-header">

                <h6 class="d-inline">Add Fee Structure</h6>
                <button id="closeFeePanel" type="button" name="nCloseFeePanel" data-close="feePanel"  class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>
            </div>
             @using (Html.BeginForm("AddFeeStructure", "Settings", FormMethod.Post))
            {
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-cart-shopping"></i>
                    </div>  <div class="did-floating-label-content">
                        <input type="text" class="did-floating-input" asp-for="@Model.Name" id="txtAddFeeName"   placeholder="" />
                        <label class="did-floating-label" for="txtAddFeeName">Name</label>
                    </div>
                    </div>
              
                    <select  asp-for="@Model.DeceasedTypeId" id="selDeceasedType" class="dmx-choices"  asp-items="Model.DeceasedTypes"><options>Select Deceased Type</options></select>
                 
              
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-day"></i>
                    </div>  <div class="did-floating-label-content">
                        <input type="number" class="did-floating-input" asp-for="@Model.Min"id="txtAddMin"  min="1"  placeholder="" />
                        <label class="did-floating-label"  for="txtAddMin">Minimum Day(s)</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-code"></i>
                    </div>  <div class="did-floating-label-content">
                        <input class="did-floating-input" type="number" asp-for="@Model.Max" id="txtAddMax"   placeholder=""/>
                        <label class="did-floating-label"  for="txtAddMax">Maximum Days</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-code"></i>
                    </div>  <div class="did-floating-label-content">
                    <input class="did-floating-input" type="number" step="0.0001" asp-for="@Model.Fee" id="txtAddFee"  placeholder="" />
                        <label  class="did-floating-label" for="txtAddFee">Amount</label>
                    </div>
                    </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block btn-primary">Save</button>
                        </div>
                }
            </div>
    </div>


   
