

@model IEnumerable<DMX.ViewModels.ViewModesOfTransportVM>;


@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using DMX.ViewComponents
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Transport Modes</h6>

        <button  class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-open="transportPanel"><i class="fa fa-fw fa-plus-circle"></i>Add Mode</button>
     
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table dataTables_wrapper" id="tbTravelModes">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                      @foreach (var travel in Model)
                {
                    <tr>
                        <td></td>
                        <td>@travel.Name</td>
                        <td> @travel.Code</td>
                        <td>@travel.Description</td>
                     
                           <td>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditMemo", new { Id = @protector.Protect(travel.Id) })" class="dropdown-item-custom" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        <button class="dropdown-item-custom" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("DetailMemo", new { Id = @protector.Protect(travel.Id) })" data-bs-target="#DetailMemo"><i style="width:15px;height:15px" class="fa fa-info mr-3"></i>Detail</button>
                           
                                        <button type="button" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("CommentMemo", new { Id= protector.Protect(travel.Id)})" class="dropdown-item-custom" data-bs-target="#CommentMemo"><i style="width:15px; height:15px" class="fa fa-comments mr-3"></i>Comment</button>
                                        <form asp-action="PrintMemo" asp-route-Id="@protector.Protect(travel.Id)" asp-controller="Memo" method="get">
                                            <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</button>
                                       
                                            </form>
                                            <form asp-action="DeleteMemo" asp-route-Id="" onsubmit="return jQueryAjaxDeleteMemo(this);">
                                            <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
             }
                </tbody>
            </table>
       </div>
       </div>

    <div class="card-footer">
    </div>
    </div>
@await Component.InvokeAsync(nameof(AddTransportMode))