
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DMX.ViewModels.ViewExternalTrainingsVM>;

@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">External Training</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-bs-toggle="ajax-modal" data-bs-target="#AddExternalTraining" data-bs-url="@Url.Action("AddExternalTraining")"><i class="fa fa-fw fa-plus-circle"></i>Add Training</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables_wrapper">
            
                <thead>
                    <tr>
                       
                   <th>Name</th>
                    <th>Rank</th>
                    <th>Department</th>
                   
                    </tr>
                </thead>
                <tbody>
                      @foreach (var meet in Model)
                {
                    <tr>
                        
                       
                        <td> @meet.Name</td>

                        <td>@meet.Description</td>
                       
                           <td>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditMemo")" class="dropdown-item-custom" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        <button class="dropdown-item-custom" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditService", new { Id = protector.Protect(meet.TrainingId) })" data-bs-target="#DetailMemo"><i style="width:15px;height:15px" class="fa fa-info mr-3"></i>Add Attendance</button>
                                        <a class="dropdown-item-custom" asp-action="PrintProfile" asp-controller="Client" asp-route-Id="@protector.Protect(meet.TrainingId)"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</a>
                                   
                                        <form asp-action="DeleteClient" asp-route-Id="" onsubmit="return jQueryAjaxDeleteLeave(this);">
                                            <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                        </form>
                                    </div>
                                </div>



                        </td>
                    </tr>
             }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>
