

@using Microsoft.AspNetCore.Authorization
@using System.Web
@inject IAuthorizationService auth
@{


    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DMX.ViewModels.ViewDocumentsVM>;

@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Letters/Documents</h6>
        <button id="btnAddLetter" class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddLetterDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add Field</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables_wrapper">
   
                <thead>
                    <tr>
                       
                        <th>RefN</th>
                        <th>Source</th>
                        <th>Receipt Date</th>  
                        <th>Document Date</th>   
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                      @foreach (var let in Model)
                {
                    <tr>
                          <td>@let.ReferenceNumber</td>
                        <td> @let.DocumentSource</td>
                        <td>@let.ReceiptDate.ToString("yyyy-MMM-dd")</td>
                        <td>@let.DocumentDate.ToString("yyyy-MMM-dd")</td>
                           <td>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select Action
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                      
                                            <button type="button" onclick="openDialogFromData(this)" data-url="EditLetter" data-user-id="@HttpUtility.UrlEncode(protector.Protect(let.LetterId.ToString()))" data-dialog-id="EditLetterDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        
                                     
                                            <button type="button" onclick="openDialogFromData(this)" data-url="CommentLetter" data-user-id="@HttpUtility.UrlEncode(protector.Protect(let.LetterId.ToString()))" data-dialog-id="CommentLetterDialog" class="dropdown-item-custom"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Comment</button>
                                       
                                            <a class="dropdown-item-custom" asp-action="Download" asp-controller="Letter" asp-route-Id="@protector.Protect(let.LetterId.ToString())"><i style="width:15px; height:15px" class="fa fa-download mr-3"></i>Download</a>
                                       
                                            <a class="dropdown-item-custom" asp-action="Download" asp-controller="Letter" asp-route-Id="@protector.Protect(let.LetterId.ToString())"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</a>
                                        
                                      
                                                <button type="submit" data-bs-url="@Url.Action("DeleteClient", new { Id = protector.Protect(let.LetterId.ToString()) })" onsubmit="return jQueryAjaxDelete(this);" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                           

                                        <button type="button" onclick="openDialogFromData(this)" data-url="EditLetter" data-user-id="@HttpUtility.UrlEncode(protector.Protect(let.LetterId.ToString()))" data-dialog-id="EditLetterDialog" class="btn btn-primary"><i style="width:15px; height:15px" class=" fa fa-edit"></i></button>
                                        </div>
                                    </div>

                                </td>
                    </tr>
             }
                </tbody>
            </table>
        </div>
    </div>
</div>
@await Component.InvokeAsync("AddLetter");
<dialog id="EditLetterDialog" class="rounded border-0 col-md-4">
    <div id="EditLetterDialogContent"></div>
</dialog>
<dialog id="CommentLetterDialog" class="rounded border-0 col-md-4">
    <div id="CommentLetterDialogContent"></div>
</dialog>
<script>
    let editorInitialized = false;

    document.addEventListener('shown.bs.tab', function (event) {
        if (event.target.id === 'new-comment-pill-tab' && !editorInitialized) {
            tinymce.init({
                selector: '#editor',
                menubar: false,
                plugins: 'lists link image',
                toolbar: 'bold italic underline | bullist numlist | link image',
                placeholder: 'Write your comment here...',
                setup: function (editor) {
                    editor.on('init', function () {
                        editorInitialized = true;
                    });
                }
            });
        }
    });

    document.addEventListener('submit', function (e) {
        if (e.target && e.target.id === 'commentForm') {
            const content = tinymce.get('editor') ? tinymce.get('editor').getContent() : '';
            document.querySelector('#NewComment').value = content;
        }
    });
</script>

